#ya-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#ya-menu.navbar-default {
    font-size: 19px;
    background-color: rgba(219, 210, 210, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(219, 210, 210, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(219, 210, 210, 1) 100%);
    border-bottom-width: 0px;
}
#ya-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.02);
}
#ya-menu.navbar-default .navbar-nav>li>a:hover,
#ya-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(148, 136, 136, 1);
}
#ya-menu.navbar-default .navbar-nav>.active>a,
#ya-menu.navbar-default .navbar-nav>.active>a:hover,
#ya-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 5, 5, 1);
    background-color: rgba(255, 255, 255, 1);
}
#ya-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#ya-menu.navbar-default .navbar-toggle:hover,
#ya-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#ya-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#ya-menu.navbar-default .navbar-toggle:hover .icon-bar,
#ya-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #dbd2d2;
}