<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CarRentEntities" connectionString="metadata=res://*/CarRentModel.csdl|res://*/CarRentModel.ssdl|res://*/CarRentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user-pc\tiku;initial catalog=CarRent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>