@{
    ViewBag.Title = "AutoDa";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
           
            <img class="img-responsive" src="~/Content/Home/sliderright.jpg" alt="Slider Image">
            <div class="container col-4">
                <div class="carousel-centered">
                    <div class="col-3">
                        <h1 class="carousel-title ya-slider-font h1" id="autoda-left"><span style="color:black">Auto</span><span style="color:red">Da</span></h1>

                        <p class="col-sm-3 ya-left" id="p-left">החברה ממוקמת במרכז לוגיסטי גדול בקרית שדה התעופה המשקף את ההתמקדות שלה בשירות ללקוח. המתחם כולל את משרדי ההנהלה, מוסך גדול, תחנת דלק ותחנת שטיפה. כמו כן, כולל המתחם אולם תצוגה מפואר למכירת רכב </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="item">

            <img class="img-responsive" src="~/Content/Home/sliderleft.jpg" alt="Slider Image">
            <div class="container col-3">
                <div class="carousel-centered">
                    <div class="col-3">
                        <h1 class="carousel-title right ya-slider-font"><span style="color:black">Auto</span><span style="color:red">Da</span></h1><br />

                        <p class="col-sm-6 ya-right">לחברה פתרונות מגוונים בתחום מכירת רכב יד ראשונה, השכרת רכב בארץ ובחו"ל ללקוחות פרטיים ועסקיים, ליסינג פרטי וליסינג תפעולי במחירים אטרקטיביים. באדג'ט הקפידה לאורך כל שנות פעילותה לפתח תודעת שירות, על פיה עומד הלקוח וצרכיו במרכז. החברה עושה הכול על מנת להקפיד על רמת שירות גבוהה במיוחד ועל שיפורה המתמיד למען קהל רחב במיוחד של לקוחות מרוצים במגזר העסקי, הפרטי, בליסינג התפעולי, בהשכרת הרכב ובמכירת הרכב.</p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts{
    
<link href="~/Content/Home/Index.css" rel="stylesheet" />

}