<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="CarRentEntities2" connectionString="metadata=res://*/CarRentModel.csdl|res://*/CarRentModel.ssdl|res://*/CarRentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user-pc\tiku;initial catalog=CarRent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="CarRentEntities" connectionString="metadata=res://*/CarRent.csdl|res://*/CarRent.ssdl|res://*/CarRent.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=user-pc\tiku;initial catalog=CarRent;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>